<footer class="footer bg-dark position-relative">
    <div class="footer-middle">
        <div class="container">
            <div class="footer-ribbon">Get in touch</div>
            <div class="row">
                <div class="col-lg-3 col-sm-6 pb-2">
                    <div class="widget">
                        <h4 class="widget-title">About Us</h4>
                        <a href="demo1.html">
                            <img src="{{ 'logo-footer.png' | asset_url }}" alt="Logo" class="logo-footer">
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <a href="#" class="read-more text-white">read more...</a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 pb-4">
                    <div class="widget mb-2">
                        <h4 class="widget-title mb-1">Contact Info</h4>
                        <ul class="contact-info">
                            <li><span>Address:</span>123 Street Name, City, England</li>
                            <li><span>Phone:</span><a href="tel:">(123) 456-7890</a></li>
                            <li><span>Email:</span><a href="mailto:mail@example.com">mail@example.com</a></li>
                            <li><span>Working Days/Hours:</span> Mon - Sun / 9:00 AM - 8:00 PM</li>
                        </ul>
                        <div class="social-icons">
                            <a href="#" class="social-icon social-facebook" target="_blank"></a>
                            <a href="#" class="social-icon social-twitter" target="_blank"></a>
                            <a href="#" class="social-icon social-linkedin" target="_blank"></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 pb-2">
                    <div class="widget">
                        <h4 class="widget-title">Customer Service</h4>
                        <ul class="links">
                            <li><a href="#">Help & FAQs</a></li>
                            <li><a href="#">Order Tracking</a></li>
                            <li><a href="#">Shipping & Delivery</a></li>
                            <li><a href="#">Orders History</a></li>
                            <li><a href="#">My Account</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 pb-0">
                    <div class="widget">
                        <h4 class="widget-title">Popular Tags</h4>
                        <div class="tagcloud">
                            <a href="#">Bag</a>
                            <a href="#">Black</a>
                            <a href="#">Clothes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="footer-bottom d-sm-flex align-items-center">
            <div class="footer-left">
                <span class="footer-copyright">© Porto eCommerce. 2021. All Rights Reserved</span>
            </div>
            <div class="footer-right ml-auto">
                <div class="payment-icons">
                    <span class="payment-icon visa" style="background-image: url({{ 'payment-visa.svg' | asset_url }})"></span>
                    <span class="payment-icon paypal" style="background-image: url({{ 'payment-paypal.svg' | asset_url }})"></span>
                </div>
            </div>
        </div>
    </div>
</footer>
