<div class="about-section">
    <div class="container">
        <h2 class="subtitle">OUR STORY</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
            of type and scrambled it to make a type specimen book. It has survived not only five centuries,
            but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
            of type and scrambled it to make a type specimen book.</p>

        <p class="lead">“Many desktop publishing packages and web page editors now use Lorem Ipsum as their
            default model search for evolved over sometimes by accident, sometimes on purpose.”</p>
    </div>
</div>
