<div class="row">
    <div class="col-lg-6">
        <h2 class="mt-6 mb-2">Send Us a Message</h2>

        <form class="mb-0" action="#">
            <div class="form-group">
                <label class="mb-1" for="contact-name">Your Name <span class="required">*</span></label>
                <input type="text" class="form-control" id="contact-name" name="contact-name" required />
            </div>

            <div class="form-group">
                <label class="mb-1" for="contact-email">Your E-mail <span class="required">*</span></label>
                <input type="email" class="form-control" id="contact-email" name="contact-email" required />
            </div>

            <div class="form-group">
                <label class="mb-1" for="contact-message">Your Message <span class="required">*</span></label>
                <textarea cols="30" rows="1" id="contact-message" class="form-control" name="contact-message" required></textarea>
            </div>

            <div class="form-footer mb-0">
                <button type="submit" class="btn btn-dark font-weight-normal">
                    Send Message
                </button>
            </div>
        </form>
    </div>
