<div class="col-lg-6">
    <h2 class="mt-6 mb-1">Frequently Asked Questions</h2>
    <div id="accordion">
        <div class="card card-accordion">
            <a class="card-header collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Curabitur eget leo at velit imperdiet viaculis vitaes?
            </a>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius.</p>
            </div>
        </div>
        <div class="card card-accordion">
            <a class="card-header collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                Curabitur eget leo at velit imperdiet vague iaculis vitaes?
            </a>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius.</p>
            </div>
        </div>
        <div class="card card-accordion">
            <a class="card-header collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                Curabitur eget leo at velit imperdiet viaculis vitaes?
            </a>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius.</p>
            </div>
        </div>
        <div class="card card-accordion">
            <a class="card-header collapsed" href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                Curabitur eget leo at velit imperdiet vague iaculis vitaes?
            </a>
            <div id="collapseFour" class="collapse" data-parent="#accordion">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius.</p>
            </div>
        </div>
        <div class="card card-accordion">
            <a class="card-header collapsed" href="#" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                Curabitur eget leo at velit imperdiet varius iaculis vitaes?
            </a>
            <div id="collapseFive" class="collapse" data-parent="#accordion">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius.</p>
            </div>
        </div>
    </div>
</div>
