<section class="homepage-banner">
  <div class="home-slider">
    <div class="home-slide">
      <img src="{{ 'banner1.jpg' | asset_url }}" alt="Banner">
      <div class="banner-layer">
        <h2>Summer Sale</h2>
        <h3>70% Off</h3>
        <a href="#" class="btn btn-dark">Shop Now!</a>
      </div>
    </div>
  </div>
</section>
