<div class="info-boxes">
  <div class="info-box">
    <i class="icon-shipping"></i>
    <div class="info-box-content">
      <h4>FREE SHIPPING & RETURN</h4>
      <p>Free shipping on all orders over $99</p>
    </div>
  </div>
  <div class="info-box">
    <i class="icon-money"></i>
    <div class="info-box-content">
      <h4>MONEY BACK GUARANTEE</h4>
      <p>100% money back guarantee</p>
    </div>
  </div>
  <div class="info-box">
    <i class="icon-support"></i>
    <div class="info-box-content">
      <h4>ONLINE SUPPORT 24/7</h4>
      <p>Support available anytime</p>
    </div>
  </div>
</div>
