<div class="page-width">
  <div class="section-header text-center">
    <h1 class="section-header__title">{{ section.settings.heading }}</h1>
    <p class="section-header__subtext">{{ section.settings.description }}</p>
    <a href="{{ section.settings.button_link }}" class="btn btn--primary">{{ section.settings.button_text }}</a>
  </div>
</div>
