<div class="page-header page-header-bg text-left" style="background: 50%/cover #D4E1EA url('{{ 'page-header-bg.jpg' | asset_url }}');">
    <div class="container">
        <h1><span>ABOUT US</span> OUR COMPANY</h1>
        <a href="{{ '/contact' | url }}" class="btn btn-dark">Contact</a>
    </div>
</div>

<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ '/' | url }}"><i class="icon-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
        </ol>
    </div>
</nav>
