<aside class="sidebar-shop">
    <div class="sidebar-wrapper">
        <div class="widget">
            <h3 class="widget-title">Categories</h3>
            <ul class="cat-list">
                <li><a href="#">Accessories</a></li>
                <li><a href="#">Dress</a></li>
                <li><a href="#">Electronics</a></li>
                <li><a href="#">Fashion</a></li>
                <li><a href="#">Music</a></li>
            </ul>
        </div>

        <div class="widget">
            <h3 class="widget-title">Price</h3>
            <form action="#">
                <div class="price-slider-wrapper">
                    <div id="price-slider"></div>
                </div>
                <div class="filter-price-action">
                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </form>
        </div>

        <div class="widget">
            <h3 class="widget-title">Color</h3>
            <ul class="config-swatch-list">
                <li class="active"><a href="#" style="background-color: #000;"></a></li>
                <li><a href="#" style="background-color: #0188cc;"></a></li>
                <li><a href="#" style="background-color: #81d742;"></a></li>
            </ul>
        </div>

        <div class="widget">
            <h3 class="widget-title">Sizes</h3>
            <ul class="config-size-list">
                <li class="active"><a href="#">XL</a></li>
                <li><a href="#">L</a></li>
                <li><a href="#">M</a></li>
                <li><a href="#">S</a></li>
            </ul>
        </div>

        <div class="widget">
            <h3 class="widget-title">Featured</h3>
            <div class="widget-body">
                <div class="owl-carousel widget-featured-products">
                    <!-- Featured products can go here -->
                </div>
            </div>
        </div>
    </div>
</aside>
