<div class="testimonials-section">
    <div class="container">
        <h2 class="subtitle text-center">HAPPY CLIENTS</h2>

        <div class="testimonials-carousel owl-carousel owl-theme images-left" data-owl-options="{
            'margin': 20,
            'lazyLoad': true,
            'autoHeight': true,
            'dots': false,
            'responsive': {
                '0': {
                    'items': 1
                },
                '992': {
                    'items': 2
                }
            }
        }">
            <div class="testimonial">
                <div class="testimonial-owner">
                    <figure>
                        <img src="{{ 'client1.png' | asset_url }}" alt="client">
                    </figure>
                    <div>
                        <strong class="testimonial-title">John Smith</strong>
                        <span>SMARTWAVE CEO</span>
                    </div>
                </div>
                <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur elitad adipiscing Cras non placerat mipsum
                        dolor sit amet, consectetur elitad adipiscing cas non placerat mi.</p>
                </blockquote>
            </div>

            <div class="testimonial">
                <div class="testimonial-owner">
                    <figure>
                        <img src="{{ 'client2.png' | asset_url }}" alt="client">
                    </figure>
                    <div>
                        <strong class="testimonial-title">Bob Smith</strong>
                        <span>SMARTWAVE CEO</span>
                    </div>
                </div>
                <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur elitad adipiscing Cras non placerat mipsum
                        dolor sit amet, consectetur elitad adipiscing cas non placerat mi.</p>
                </blockquote>
            </div>

            <div class="testimonial">
                <div class="testimonial-owner">
                    <figure>
                        <img src="{{ 'client1.png' | asset_url }}" alt="client">
                    </figure>
                    <div>
                        <strong class="testimonial-title">John Smith</strong>
                        <span>SMARTWAVE CEO</span>
                    </div>
                </div>
                <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur elitad adipiscing Cras non placerat mipsum
                        dolor sit amet, consectetur elitad adipiscing cas non placerat mi.</p>
                </blockquote>
            </div>
        </div>
    </div>
</div>
